@(message: String) @main("Welcome to Play") {

<div class="row">
	<div class="col s12">
		<div class="col m4">&nbsp;</div>
		<div class="col s12 m4">
			<form class="card-panel">
				<div class="row">
					<div class="input-field col s12">
						<input id="name" type="text" class="validate"> <label
							for="name">Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="userid" type="text" class="validate"> <label
							for="userid">User ID</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate"> <label
							for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate"> <label
							for="email">Email</label>
					</div>
				</div>
				<div class="row center-align">
					<a class="waves-effect waves-light btn"><i
						class="material-icons left">cloud</i>Submit</a>
				</div>
			</form>
		</div>
	</div>
</div>

}
